body {
  font-family: 'Stalinist One', cursive;
  background-color: DarkOliveGreen;
  color: OrangeRed;
  position: relative;
  overflow: hidden;
}

h1 {
  position: fixed;
  width: 100%;
  top: -5vh;
  text-align: center;
  font-size: 4em;
  z-index: 3;
}

.game {
  position: fixed;
  top: 12vh;
  left: calc((100vw - 700px) / 2);
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  z-index: 5;
}

.sideImage {
  position: fixed;
  top: 200px;
  height: 400px;
  transform: rotate(90deg);
  z-index: 0;
}

.imageLeft {
  right: calc((100vw - 500px));
}

.imageRight {
  left: calc((100vw - 500px));
}